body{
    font-size: 16px;
    font-family:'Avenir-Next','Roboto',sans-serif;
}
.container{
    margin:auto;
    max-width:1000px;
}

                                                      /*navbar*/

header{
    display:flex;
    margin-top:-15px;
    padding-left: 1rem;
    justify-content: space-between;
    align-items:center;
    text-align:center;
    font-size:13px;
    
}     

header ul{
    display:flex;
    align-items:flex-end;
    justify-content: space-evenly;
    gap: 2rem;
    list-style-type: none;
}

#flag_icon{
width:20px;
height: auto;
}
#logo{
    width:70px;
    height: auto;
}
#header_button{
   text-align:center;
   padding-left: 30px;
   padding-right: 30px;
   
}
header button{
    border:0px;
}
header ul li button{
    background-color:#ff6700;
    
    text-decoration: none;
}
header ul li button a{
    color:white;
    
}
header ul li a{
    color:black;
    
}
@media(max-width:780px){
    header ul{
   gap:0.2rem;
}
}

@media (max-width:650px)
{
    header ul li button,#flag_icon,header ul li a{
        display:none;
    }
   header{
       margin-top:2px;
   }
   
}
header ul li a{
text-decoration: none;
}

                                                     /*homepage css*/


                                                     /*overlay-effect */
.homepage_container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(" https://i.imgur.com/ksqOx5F.jpg"); 
    background-size: cover;
    margin-top:-5px;
}                                                  

.home_section{
   width:100%;
   display:flex;
   align-items: center;
   justify-content: center; 
   background-color:#000000b3;
}


.hometext_container{
   
    color:white;
    width:82%;
    z-index:1;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 150px;

}

.hometext_container h1{
    font-size:90px;
}

.hometext_container h3{
    font-size:33px;
    margin-top:-77px;
}

#home_b1{
    background-color:  #4992ca;
    width:170px;
    height:40px;
    border:none;
    color:white;
    margin-top:-34px;
}
.hometext_container a{
   
   display: inline; 
    text-decoration: none;
    color:black;
    text-align: center;
}
#home_b3{
    border-radius:15px;
    background-color: white;
    text-align:center;
    margin-bottom: -10px;
    width:390px;
    font-size: 13px;
}
#home_b2{
    background-color: #0000;
    color:white;
    text-align: center;
    width:170px;
    height:40px;
    border-color:white;
}
@media (max-width: 560px) {

    .homepage_container{
         height: 620px;
    }
    .hometext_container h1{
        font-size: 55px;
        text-align: center;
        padding-bottom:19px;
    }
}
    
    @media (max-width: 560px) {

    
    .hometext_container h1{
        font-size: 55px;
        text-align: center;
        padding-bottom:25px;
    }
    
    .hometext_container h3{
        font-size: 28px;
        text-align: center;
    }
}


@media (max-width: 466px) {

    .hometext_container h1{
        font-size: 18px;
        text-align: center;
        padding-bottom:70px;
        gap:40px;
    }
    
    .hometext_container h3{
        font-size: 12px;
        text-align: center;
        gap:40px;
        padding-bottom: 40px;
    }

    
    #home_b1,#home_b2,#home_b3{
       
      width:80px;
    }
}
@media (min-width: 170px) and (max-width:466px){
    .hometext_container button{
        margin:auto;
    }
}
                                                      /*pocket monsters section */

.pocket_monsters{
    background-color: #4992ca;
    padding-bottom:50px;
    color:white;
    text-align: center;
    padding-top:20px;
   
    }
.center_pocket_monsters{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
   padding:10px 10px;
   min-width: 100px;
   color:white;
   
}

.center_pocket_monsters p
{
font-size: 12px;
color:#fff;
}
.pocket_monsters :first-child p{
    font-size: 13px;
}

@media (min-width:200px){
    .pocket_monsters :first-child h2{
       font-size:27px;
       color:#fff;
    }
    .pocket_monsters{
        padding-right: 60px;
        padding-left: 60px;
    }

}
.pocket_monster i{
    color:white;
    font-size: 30px;
    padding-bottom: 30px;
}
.pocket_monsters .container{
    display:flex;
    flex-flow:row wrap;
    column-gap: 21px;
    margin-top:-6px;
}
@media (min-width:900px){
    .pocket_monsters .container{
        justify-content:space-between;
        flex-flow:nowrap;

    }

}
.pocket_monster{
    text-align: center;
}
.pocket_monster h4{
    font-weight: 300;
    font-size: 30px;
    margin-bottom:13px;
    margin-top:-11px;
    color:white;
}
.pocket_monster p{
    margin-top:-8px;
    font-size: 12px;
    color:#fff;
}

                                                        /*statistic section css*/
.grid_container_statistics{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-top:-30px;
    margin-left:10%;
    margin-right:10%;
 
}

.statistics_heading h2{
    font-size:31px;
}
@media (max-width:580px){
    .statistics_heading h2{
        font-size:12px;
    }
   .grid_container_statistics{
    grid-template-columns:1fr;
   }
}

@media (max-width:225px){
#statistics_head{
    display: none;
}
}
.grid_container_statistics img{ 
    width:250px;
}
#statistics_col_head{
    font-size:22px;
    text-align:center;
    font-weight: 300;
}
.statistics_section{
    text-align:center;
}
.statistics_col_para{
    font-size: 12px;
    font-weight: 400;
}
@media (max-width:631px){
    .grid_container_statistics{
        margin-right:0px;
        margin-left:0px;
    }
}
@media(max-width:281px){
    .grid_container_statistics img {
       width:120px;
    }
    .grid_container_statistics{
        margin-right:0px;
        margin-left:0px;
    }
    .statistics_section{
        text-align: left;
    }
    #statistics_col_head{
    font-size:15px;
    text-align:left;
    font-weight: 300;
    }
    .statistics_section{
        margin-top:30px;
    }
}



                                                      /*pokemon of the year section css*/

.grid_container_py{
  display:grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
 margin:150px;
  margin-top:0px;
  margin-bottom: 0px;
  font-family: Avenir-Next,Roboto,sans-serif;
  row-gap: 50px;
}

@media (max-width:530px){
    #py_head h3{
        font-size:12px;
    }
.grid_container_py{
        grid-template-columns:1fr;
       
    }
    .col3py{
        margin-top:-10px;
    }
    .col1py{
        margin-top:50px;
        margin-bottom:-5px;
    }
    .col2py{
        margin-top:-40px;
    }
    #col3_firstpy{
        margin-top: -120px;
    }
}
@media (max-width:225px){
#py_head{
    display: none;
}
}
.grid_container_py img{
    width:100px;
    height:40px;
}
.col1py img{
    width:120px;
    height:150px; 
}
.pokemon_of_year_section{
display:flex;
justify-content: center;
align-items: center;
font-family: Avenir-Next,Roboto,sans-serif;

}
.flex_pokemon_year_section{
   
    text-align:center;
}
.grid_container_py p{
    font-size:12px;
}
.grid_container_py .col2py p{
    font-size:14px;
    margin:0px 0px;
}

#py_name{
font-weight: 100;
font-size: 18px;

}
.flex_pokemon_year_section h3{
    font-size:30px;
    
}
.grid_container_py .col3py p{
    text-align:left}  

#round-image {
    border-radius: 50%;
}                               
                      
                                                           /*Q and N section css */
                                                        
.q_and_n_section{
    background-color: #4992ca;
    color:white;
   
}
.q_and_n_section h2{
    text-align:center;
   
}

@media (min-width:500px)
{
    .q_and_n_section {
        padding-bottom:25px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top:20px;
    }
    .q_and_n_section h2{
        padding-right: 160px;
    }
    .q_and_n_section ul li{
        font-size: 12px;
        line-height:20px;
    }
    .q_and_n_section #left_p{
        text-align: left;
        padding-left:30px;
    }

}
@media (max-width:200px)
{
    .q_and_n_section ol li{
    margin-left:-39px;
    font-size:14px;
    }
}

/*although there was reusability in css of many classes of the pokemon of the year section 
and pokemon trainers section but to  prevent  confusion and clarity,given different names and to make additional small changes */

                                                            /*pokemon battle section css*/
 
.flex_container_battle{
    display:flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-around;
    padding-left:170px;
    padding-right:170px;
    gap:5px;
    color:#8a8a8a;
}    
.battle_section span{
    font-size: 30px;
}

@media (max-width:454px){
.flex_container_battle{
    flex-flow: row wrap;
    padding:0px;
}
.battle_section span{
    font-size:16px;
}
.battle_section button{
width: 70px;
height:35px;
} 
.flex_item_battle  table tr{
    display:flex;
    flex-direction: column;
    flex-flow: column wrap;
    
}


}                                                  
strong{
    color:black;
}
#flex_item_end{
    align-self: flex-end;
}
.flex_item_battle{
    margin-bottom: 40px;
}
.flex_item_battle  table{
    caption-side: bottom;
    border:1px solid #8a8a8a;
    border-collapse: collapse;
    color:#8a8a8a;
    table-layout: fixed;
}
.flex_item_battle  table td,th{
    border:1px solid #8a8a8a;
    border-collapse: collapse;
    padding:7px;
}
.flex_item_battle  table th{
    color:black;
}
.flex_item_battle  table #cap{
    color:black;
    font-weight: bold;
    padding-top:20px;
    text-align: left;
}
.battle_section{
    text-align:center;
    margin-bottom: 20px;
}
.flex_item_battle:first-child{
    flex:1;
}
.flex_item_battle:not(:first-child) {
    flex: 2;
    
  }
.battle_section a{
  text-decoration: none;
  color:#4992ca;

}
.battle_section button{
background-color: #4992ca;
color:white;
border: 0cm;
width: 155px;
height:35px;
text-align: center;
}
                                                    /*know more about pokemon section*/
.know-more-pok-section{
  background-color:#424242;
  text-align:center;
  padding-bottom:20px;
  margin-top: 0px;
  
  }
  .know-section button{
      background-color:#0000;
      border-color:#fff;
      border-style: solid;
      border-radius:2px;
      color:white;
      width:70px;
      height:35px;
      text-align:center;
      margin-right:2px;
  }
  .know-more-pok-section h2{
      font-size:21px;
      color:white;
      padding-top:17px;
  }

  @media (min-width:200px){
      .know-more-pok-section button{
          width:155px;
          height:35px;
          text-align: center;
          background-color:#0000;
          border-color:#fff;
          border-style: solid;
          border-radius:2px;
          color:white;
          text-align:center;
          margin-right:2px;
          margin-top:-20px;
      }
      .know-more-pok-section h2{
        color:white;
        font-size:45px;
    }

    .know-more-pok-section{
        padding-top:10px;
        padding-bottom: 70px;
    }
  }
                                                        /*pokemon card*/
.pokemon-card_section h3{
font-size: 31px;
text-align:center;
color:#8a8a8a;
margin-bottom: 0px;
}
#pokemon_first_p{
    color:#8a8a8a;
}

.pokemon_card
{
border: 1px solid rgba(0, 0, 0, 0.125);
width:200px;
margin:auto;
margin-bottom:20px;
}

.pokemon_card-header{
border-bottom: 1px solid  rgba(0, 0, 0, 0.125);
border-top:16px solid #4992ca;
background-color:rgba(0, 0, 0, 0.03);
}

.pokemon_card-main{
    padding: 10px;
  }
@media (max-width:215px)
  {
      .pokemon-card_section h3{
         font-size:21px;
      }
 }
@media (max-width:235px)
{
    .pokemon_card{
        margin:0px;
        margin-left:2px;
        width:100px;
    }

    .pokemon_card-main{
        padding: 0px;
        
      }
    .pokemon_card-header img{
        width:100px;
    }
}


                                                        /*pokemon trainers section css*/
.grid_container{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
   margin:150px;
    margin-top:0px;
    margin-bottom: 0px;
    color:white;
    font-family: Avenir-Next,Roboto,sans-serif;
    column-gap:0px;
    row-gap: 50px;
    
}
@media (max-width:530px){
    #t_head h3{
        font-size:12px;
    }
.grid_container{
        grid-template-columns:1fr;
       
    }
    .col3{
        margin-top:-10px;
    }
    .col1{
        margin-top:50px;
        margin-bottom:-5px;
    }
    .col2{
        margin-top:-40px;
    }
    #col3_first{
        margin-top: -120px;
    }
}
@media (max-width:225px){
#t_head{
    display: none;
}
}
.grid_container img{
    width:100px;
    height:40px;
}
.col1 img{
    width:120px;
    height:150px; 
}
.trainers_section{
display:flex;
justify-content: center;
align-items: center;
color:white;
font-family: Avenir-Next,Roboto,sans-serif;

}
.flex-item-section{
    background-color: #4992ca;
    text-align:center;
}
.grid_container p{
    font-size:12px;
}
.grid_container .col2 p{
    font-size:14px;
    margin:0px 0px;
}

#t_name{
font-weight: 100;
font-size: 18px;

}
.flex-item-section h3{
    font-size:30px;
    
}
.grid_container .col3 p{
    text-align:left
}



                                                        /*cards section css */
.cards_container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    }
    .card {
      width: 370px;
      border: 1px solid rgba(0, 0, 0, 0.125);
      margin: 8px;
    }
    
    .card-sub-heading {
      font-weight: 700;
      height: 45px;
      color: #3c3333;
      text-align: left;
      font-size: 2rem;
      line-height: 1.2;
      padding-left:7px;
    }
    .card-header-text{
        text-align: left;
        padding-left:7px;
        line-height:24px;
    }
    .card-main {
      padding: 10px;
    }
    
    .card-header {
    margin-bottom: 0;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.125);
    border-top:16px solid #4992ca;
    background-color:rgba(0, 0, 0, 0.03);
    }
    .cards h3{
        text-align:center;
        color:#8a8a8a;
        font-size:33px;
    }
    @media (max-width:215px)
    {
        .cards h3{
           font-size:21px;
        }
        .card-header-text{
            text-align: left;
            padding-left:0px;
            line-height:20px;
            }
        .card-main {
            padding: 0px;
          }

          .card-sub-heading {
            font-weight: 300;
            height: 33px;
            color: #3c3333;
            text-align: left;
            font-size: 1rem;
            line-height: 1.2;
            padding-left:0px;
          }
          .card {
            margin: 0px;
          }
    }

    @media (min-width:215px) and (max-width:300px)
    {
        .card-header-text{
            padding-top:13px;
        }
    }
                                                        /*input section css */
  .input{
      background-color: #424242;
      color:white;
      text-align:center;
  }                                                       
.input button{
 background-color: #0000;
 border-color:#fff;
 border-style: solid;
 border-radius:2px;
 color:white;
 height:33px;
 width:70px;
 font-size:12px;
 text-align: center;
 margin-top: 10px;
}
@media (min-width:220px){
   .input button {
        width:170px;
        height:33px;
        text-align: center;
    }
}
.input input{
    color:#424242;
    background-color: white;
    height:35px;
    width:95px;
    font-size: 10px;
}
@media (min-width:220px){
    .input input {
         width:250px;
         height:35px;
         text-align: center;
         padding-left:7px;
     }
 }
.input .container div{
    padding-bottom:50px;
    margin-top:-10px;
}
.input .container{
    padding-top:15px;
}
.input h3{
    font-size:20px;
}
@media (min-width:220px){
    .input h3 {
    font-size:29px;
         
     }
 }
                                                        /*games section css*/

.games .container{
    display:flex;
    justify-content:space-around;
    flex-flow:row wrap;
    column-gap: 25px;
}
@media (min-width:900px){
    .games .container{
        justify-content:center;
        flex-flow:nowrap;
 
    }}

.games{
    text-align: center;
   margin-top:-20px;
}
.games .container .game img{
    height: 100px;
}
@media (min-width:340px){
   
.games .container .game img{
        height: 200px;
     }
}
.games #h3_div_games{
    display:flex;
   flex-flow:row wrap;
   justify-content: center;
  padding:10px 10px;
  min-width: 100px;
  margin-bottom:-20px;
}
 
.games h3{
    text-align: center;
    font-size:24px;
    color:#8a8a8a;
    display:inline-block;
    min-width: 150px;
 
}
@media (min-width:200px){
    .games h3{
       font-size:33px;
       color:#8a8a8a;
    }
}
 
.games button{
    background-color: #4992ca;
    color:white;
    border: 0cm;
    width: 70px;
    height:35px;
    text-align: center;
    margin-right:2px;

}
@media (min-width:200px){
    .games button{
        width:155px;
        height:35px;
        text-align: center;
    }
}

@media(max-width:215px){
    .h3_div_games h3{
        font-size: 18px;
        text-align:left;
    }
    .container{
        margin-left:0px;
        margin-right:0px;
    }
    .game .bold_p{
        font-weight: lighter;
        font-size: 13px;
    }
    .game .des_p{
     display:none;
    }
    
}
#button_div_games{
    margin-bottom:18px;
    
}
.bold_p{
    font-weight: bold;
}

                                                      /*designers section css*/
.designers{
background-color: #4992ca;
padding-bottom:5px;
}
.designers #h3_div_designers{
    display:flex;
   flex-flow:row wrap;
   justify-content: center;
  padding:10px 10px;
  min-width: 100px;
}

.designers h3{
    text-align: center;
    font-size:24px;
    color:white;
    display:inline-block;
    min-width: 150px;

}
@media (min-width:200px){
    .designers h3{
       font-size:33px;
      
    }
}
.designers .container{
    display:flex;
   
    flex-flow:row wrap;
    column-gap: 21px;
    
    margin-top:-6px;
}
@media (min-width:900px){
    .designers .container{
        justify-content:space-between;
        flex-flow:nowrap;

    }
    .left-align{
        flex-flow:row wrap;

    }

}
.designers img{
    border-radius:50%;
    width:100px;
    height:100px;
}
.designer{
    text-align:center;
}
.designer h4{
    font-weight: 300;
    font-size: 20px;
    margin-bottom:13px;
    margin-top:-11px;
    color:white;
}
.designer p{
    margin-top:-8px;
    font-size: 12px;
    color:#fff;
}
.designer .left-align{
    text-align:left;
}

                                                        /*logos section css*/

.logos .container{
display:flex;
flex-direction: row;
flex-flow:row wrap;
justify-content:space-around;
margin-top:-29px;

}

.logos{
    margin-bottom:-46px;
}
.logos img{
    width:80px;
    height:40px;
    margin-left:-22px;
}
@media (min-width:200px){
    .logos img{
        width:100px;
        height:40px;
    }
}

.logos ul{
    list-style-type:none;
}
.logos h3,p{
    text-align:center;
   
}

.logos h3{
    color:#8a8a8a;
    font-size:33px;
    margin-bottom:2px;
    margin-top:5px;
}

                                                            /*know more section(blue bg) css*/
.know-section{
background-color:#4992ca;
text-align:center;
padding-bottom:20px;
margin-top: 0px;

}
.know-section button{
    background-color:#0000;
    border-color:#fff;
    border-style: solid;
    border-radius:2px;
    color:white;
    width:70px;
    height:35px;
    text-align:center;
    margin-right:2px;
}
@media (min-width:200px){
    .know-section button{
        width:155px;
        height:35px;
        text-align: center;
    }
}
.know-section h3{
    color:white;
    font-size:33px;
    padding-top:17px;
    
}

                                                      /*footer section css*/
footer{
   
    background-color:rgb(0,0,0);
    font-size:14px;
    padding-bottom:3px;
    
 }
 
 footer .container{
 
    display:flex;
    flex-direction:row;
    flex-flow:row wrap;
    justify-content:space-evenly;
   padding:11px;
    
   }
 
   @media (min-width: 900px) {
    .footer .container {
      justify-content: space-evenly;
    }  }
   
 footer a{
 text-decoration:none;
 color:snow;
 
 }
 
 footer a:hover{
    font-weight: bold;
 }
 
 footer li{
    text-align:center;
    padding-top:4px;
 }
 footer p{
 font-weight: bold;
 color:gray;
 margin-bottom:0px;
 text-align:center;
 }
 footer p a{
    font-weight: lighter;
 }
 
 footer section{
    padding:10px 10px;
    min-width:15ch;
    
 }
 footer section ul{
    margin-left:-22px;
 }
 @media (min-width:200px){
    .footer section{
        margin-left:0px;
    }
 }
 #grid_icons{
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     color:white;
     
 }


                                                               /**/